doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Chunked Video Conversion
    link(rel='stylesheet', href='./fonts.css')
    link(rel='stylesheet', href='./style.css')
    link(rel='stylesheet', href='./neon.css')
    link(rel='stylesheet', href='./select-buttons.css')
  body
    #wrapper
      div.title-wrapper
        h1#title.neon D
          span.flicker-slow o
          | ugh
          span.flicker-fast b
          | oy
      form#convert-form.invisible(disabled)
        label(for='video-file')
          button#file-input-button.digital-display(type='button' style='padding: 0 1.1rem') Choose file...
          input#file-input(name='video-file', type='file', accept='video/*,.mkv')
        fieldset(id='start-time-fieldset')
          legend Start Time 
          input.digital-display.narrow(name='start-time-hours', type='number', min='0.0', max='0', step='1', style='')
          |  hh
          input.digital-display.narrow(name='start-time-minutes', type='number', min='0.0', max='0', step='1', style='')
          |  mm
          input.digital-display.narrow(name='start-time-seconds', type='number', min='0.0', max='0', step='.01', style='', required)
          |  ss
        fieldset
          legend
            | Duration (seconds) 
          div.button-wrap
            .button-control
              input(type="radio" name="duration" id="1s-button" class="hidden radio-input" value='1.0')
              div.button-label-container
                label.button-label(for="1s-button")
                  span 1s
              .button-label-onlight

            .button-control
              input(type="radio" name="duration" id="3s-button" class="hidden radio-input" value='3.0')
              div.button-label-container
                label.button-label(for="3s-button")
                  span 3s
              .button-label-onlight

            .button-control
              input(type="radio" name="duration" id="5s-button" class="hidden radio-input" value='5.0')
              div.button-label-container
                label.button-label(for="5s-button")
                  span 5s
              .button-label-onlight

            .button-control
              input(type="radio" name="duration" id="custom-button" class="hidden radio-input" value='custom')
              div.button-label-container
                label.button-label(for='custom-button') 
                  span Custom
              .button-label-onlight

            input.digital-display.narrow(name='custom-duration', id='custom-duration' type='number', min='.01', max='0', step='.01' disabled)
            | &nbsp;ss
        button#convert-button(disabled='') Convert
        #preview-window
    script(type='module', src='main.js')
