doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title NeonGIF Converter
    link(rel='stylesheet', href='assets/css/fonts.css')
    link(rel='stylesheet', href='assets/css/style.css')
    link(rel='stylesheet', href='assets/css/neon.css')
    link(rel='stylesheet', href='assets/css/select-buttons.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  body
    .bg
    #wrapper
      div.title-wrapper
        h1#title.neon Ne
          span.flicker-slow o
          | nGi
          span.flicker-fast f
        p.white Create GIFs from your video files directly from your browser. Privacy and security conscious&mdash; 
          | your data never goes to any server.
      form#convert-form.invisible(disabled)
        label(for='video-file')
          button#file-input-button.form-input(type='button' style='padding: 0 1.1rem') Choose file...
          input#file-input(name='video-file', type='file', accept='video/*,.mkv')
        fieldset(id='start-time-fieldset')
          legend Start Time 
          .form-input-wrapper
            input.form-input(name='start-time-hours', type='number', min='0.0', max='0', step='1', style='')
            |  hh
          .form-input-wrapper
            input.form-input(name='start-time-minutes', type='number', min='0.0', max='0', step='1', style='')
            |  mm
          .form-input-wrapper
            input.form-input(name='start-time-seconds', type='number', min='0.0', max='0', step='.01', style='', value='0', required)
            |  ss
        fieldset
          legend
            | Duration (seconds) 
          div.button-wrap
            .button-control
              input(type='radio' name='duration' id='1s-button' class='hidden radio-input' value='1.0' required)
              div.button-label-container
                label.button-label(for='1s-button')
                  span 1s

            .button-control
              input(type='radio' name='duration' id='3s-button' class='hidden radio-input' value='3.0')
              div.button-label-container
                label.button-label(for='3s-button')
                  span 3s

            .button-control
              input(type='radio' name='duration' id='5s-button' class='hidden radio-input' value='5.0')
              div.button-label-container
                label.button-label(for='5s-button')
                  span 5s

            .button-control
              input(type='radio' name='duration' id='custom-button' class='hidden radio-input' value='custom')
              div.button-label-container
                label.button-label(for='custom-button') 
                  span Custom

            div.custom-duration-wrap
              input.form-input(name='custom-duration', id='custom-duration' type='number', min='.01', max='0', step='.01' disabled)
              | &nbsp;ss
        #preview-window
          button#convert-button(disabled='') Convert
          div(style='color: #aaa; display: block; text-align: center; width: 100%') Your GIF will display here.
      footer
        span Made with 🧡 by 
          a(href='https://tanomitech.com/', target='_blank') Tanomi Technologies
        span(style='margin: 0 .25rem 0 .5rem') |
        a.with-github-icon(href='https://github.com/tanomi-tech/neongif', target='_blank') 
          span.fa.fa-brands.fa-github(style='margin-right: .5rem')
          span.github-text GitHub
        span(style='margin: 0 .25rem 0 .5rem') |
        a(href='credits.txt') Credits (in progress)
    script(type='module', src='main.js')
