
html, body {
  margin: 0;
  padding: 0;
  background: #ededed;
  font-family: 'Open Sans', 'Noto', 'Ubuntu', sans-serif;
}

form, form input {
  font-size: 20px;
}

input[type=number]:invalid {
  border: 2px solid red;
  outline: none;
}

#wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 0 auto 2rem;
  padding: 2rem;
  width: 600px;
  max-width: 95%;
}

#convert-form {
  display: flex;
  flex-flow: column nowrap;
}

form > * {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

#convert-button:not([disabled]),
#download-button:not([disabled]) {
  cursor: pointer;
}

#convert-button {
  border: none;
  padding: .5rem .75rem;
  border-radius: 6px;
  background: sandybrown;
  color: #eee;
}

#convert-button[disabled] {
  opacity: .6;
}

#download-button {
  display: inline-block;
  border: none;
  padding: .5rem .75rem;
  border-radius: 6px;
  background: lightseagreen;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  position: absolute;
  top: .5rem;
  right: .5rem;
}

#preview-window {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.progress-section {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
}

.progress-bar, .progress-value {
  border-radius: 2em;
}

.progress-bar {
  border: 1px solid #adadad;
  height: .5rem;
  display: block;
  width: 100%;
  flex-grow: 1;
  position: relative;
  box-sizing: border-box;
}

.progress-bar::before {
  margin-left: 1rem;
}

.progress-text {
  margin-right: 1rem;
}

.progress-value {
  background-color: blueviolet;
  display: inline-block;
  height: 100%;
  width: 0%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  transition: width .5s ease;
}

.preview-gif {
  max-width: 100%;
}
